<h1>Messaging PWA</h1>
    <input [(ngModel)]="message" placeholder="Type a message..." />
    <button (click)="sendMessage()">Send</button>
    <button (click)="startCaptureImage()">Open Camera</button>
    <button *ngIf="imageCaptureActive" (click)="captureImage()">Take Photo</button>
    <button (click)="startCaptureVideo()">Start Video Recording</button>
    <button *ngIf="videoRecording" (click)="stopCaptureVideo()">Stop Recording</button>
    <ul>
      <li *ngFor="let msg of messages">
        <span *ngIf="msg.type === 'txt'">{{ msg }}</span>
        <img *ngIf="msg.type === 'image'" [src]="msg.data" style="max-width: 200px;" />
        <video *ngIf="msg.type === 'video'" [src]="msg.data" controls style="max-width: 200px;"></video>
      </li>
    </ul>
